---
export interface Props {
  href: string;
  text: string;
  textColor?: string;
  hoverColor?: string;
  iconSvg?: string;
  arrowType?: string;
}

const { 
  href, 
  text, 
  textColor = "text-graylight", 
  hoverColor = "hover:text-accent",
  iconSvg,
  arrowType = "→"
} = Astro.props;
---

<a
  href={href}
  class={`secondary-link ${textColor} ${hoverColor}`}
>
  {iconSvg && <span class="icon-container mr-1" set:html={iconSvg} />}
  <span>{text}</span>
  <span class="ml-2 secondary-link__arrow">{arrowType}</span>
</a>

<style>
  .icon-container :global(svg) {
    height: 1.25em;
    width: 1.25em;
  }
</style>
